<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="nav"
		class="d-flex flex-column flex-shrink-0 p-2 bg-body-tertiary navbar-fixed-left">
		<ul class="nav nav-pills flex-column mb-auto" id="first_ul"
			th:data-logged-in="${loggedIn}">
			<li class="nav-item mt-5"><a href="/"
				class="nav-link link-body-emphasis" aria-current="page"><h2>Project1</h2>
			</a></li>
			<li class="nav-item"><a href="/"
				class="nav-link link-body-emphasis" aria-current="page">Home </a></li>
			<li><a href="#" class="nav-link link-body-emphasis"
				id="searchToggle">검색 </a></li>
			<li><div th:if="${loggedInUser != null}">
					<div id="notificationArea">
						<div th:replace=" ~{layout/notifragment.html :: noti}"></div>
					</div>
				</div>
				<div th:unless="${loggedInUser != null}">
					<a class="nav-link link-body-emphasis mx-0" href="/login">알림</a>
				</div></li>

			<li>
				<div th:if="${loggedInUser != null}">
					<a href="/profile/" th:attrappend="href=${loggedInUser.user_id}"
						class="nav-link link-body-emphasis">프로필 </a>
				</div>
				<div th:unless="${loggedInUser != null}">
					<a href="/login" class="nav-link link-body-emphasis">프로필 </a>
				</div>
			</li>
		</ul>
		<hr>
		<div class="dropdown" th:if="${loggedIn}">
			<a href="#"
				class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
				data-bs-toggle="dropdown" aria-expanded="false"> <img
				th:src="${loggedInUser.profile != null} ? ${loggedInUser.profile.file_path} : '/user_profile/default.jpg'"
				src="https://github.com/mdo.png" alt="" width="32" height="32"
				class="rounded-circle me-2"> <strong
				th:text="${loggedInUser.user_name}"></strong>
			</a>
			<ul class="dropdown-menu text-small shadow">
				<li><a class="dropdown-item" href="/write/"
					th:attrappend="href=${loggedInUser.user_id}">글쓰기</a></li>
				<li><a class="dropdown-item" href="/updateform/"
					th:attrappend="href=${loggedInUser.user_id}">회원정보수정</a></li>
				<li><a class="dropdown-item" href="/profile/"
					th:attrappend="href=${loggedInUser.user_id}">>프로필</a></li>
				<li>
					<hr class="dropdown-divider">
				</li>
				<li><a class="dropdown-item" href="/logout">로그아웃</a></li>
			</ul>
		</div>
		<a class="btn btn-primary" href="/login" th:unless="${loggedIn}">로그인</a>

		<script>
			$(document).ready(function() {
				const isLoggedIn = $('#first_ul').data('logged-in');
				if (isLoggedIn) {
					setInterval(fetchNotifications, 100000);
					function fetchNotifications() {
						$.ajax({
							url : '/notiRefresh',
							success : function(data) {

								$('#notificationArea').html(data);
							}
						});
					}

					$(document).on('hidden.bs.modal', '.modal', function(e) {
						var notiIdx = $(this).attr('data-noti-idx');

						console.log(notiIdx);
						$.ajax({
							url : '/CheckNoti',
							type : 'POST',
							data : {
								notification_idx : notiIdx
							},
							success : function(response) {
								fetchNotifications();
							}
						});
					});

				}				
			});
		</script>
	</div>
</body>
</html>