<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<div th:fragment="noti">
		<div class="dropdown">
			<a class="nav-link link-body-emphasis mx-0" data-bs-toggle="dropdown"
				aria-expanded="false">알림 <span class="border notification-count"
				th:text="${noti != null ? #lists.size(noti) : 0}">0</span></a>

			<ul class="dropdown-menu">
				<!-- 알림이 없는 경우 처리 -->
				<li th:if="${#lists.isEmpty(noti)}"><a class="dropdown-item"
					href="#">알림이 없습니다</a></li>
				<!-- 알림이 있는 경우 처리 -->
				<li th:each="notification : ${noti}"><a
					class="dropdown-item notis_link" data-bs-toggle="modal"
					th:attr="data-noti-idx=${notification.notification_idx}, data-noti-message=${notification.message}, data-post-idx=${notification.post_idx}"
					th:data-bs-target="'#postnotidetail' + ${notification.post_idx}"
					th:switch="${notification.message}"> <span th:case="1"
						th:text="${notification.from_id} + '님이 좋아요를 눌렀습니다.'"></span> <span
						th:case="2" th:text="${notification.from_id} + '님이 새글을 올렸습니다.'"></span>
						<span th:case="3"
						th:text="${notification.from_id} + '님이 댓글을 올렸습니다.'"></span>
				</a></li>
			</ul>
			<!-- 모달은 반복적인 요소 밖에 위치해야 합니다. -->
		</div>
		<div id="postdetailArea">
		
		</div>
		<script>
    $(document).ready(function() {
    	
        $('.notis_link').click(function() {
            const button = $(this);
            const notification_idx = button.data('noti-idx');
            const post_idx = button.data('post-idx');
            $.ajax({
                url: '/findPostNotibyIdx',
                type: 'POST',
                data: {
                    noti: notification_idx,
                    post_idx : post_idx
                },
                success: function(data) {
                    // 동적으로 콘텐츠를 삽입합니다.
                    $('#postdetailArea').html(data);
                    // 삽입된 콘텐츠 내에서 모달을 찾아 이벤트 리스너를 추가합니다.
                    $('#postnotidetail' + post_idx).on('show.bs.modal', function() {
                        var modal = $(this); // 현재 표시되는 모달의 jQuery 객체를 가져옵니다.
                        modal.appendTo('main'); // 해당 모달을 'body' 태그의 끝에 추가합니다.
                    });
                    // 필요하다면 여기서 모달을 바로 표시하는 로직을 추가할 수 있습니다.
                    $('#postnotidetail' + post_idx).modal('show');
                },
                error: function() {
                    alert('오류가 발생했습니다. 다시 시도해주세요.');
                }
            });
        });
    });
</script>


	</div>

</body>

</html>