<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="postdetail">
		<div th:each="notification : ${noti}" class="modal fade"
			th:id="'postDetail' + ${notification.notification_idx}"
			data-bs-backdrop="true" data-bs-keyboard="false" tabindex="-1"
			th:attr="aria-labelledby='postModalTitle' + ${notification.notification_idx}"
			aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<h2 class="modal-title"
							th:id="'postModalTitle' + ${notification.notification_idx}">포스트
							상세보기</h2>
						<hr>
						<div>모달 확인</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>