<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="searchBox" style="display: none;" th:fragment="searchBox"
		class="bg-body-tertiary sticky-top col-2 border">
		<h4 class="mt-5">검색</h4>
		<div class="search-box">
			<input type="text" class="form-control search-input" placeholder="검색"> <img
				alt="검색 아이콘" src="/images/search.svg" class="search-icon"> <img
				alt="삭제 아이콘" src="/images/x-circle.svg" class="clear-icon">
		</div>
		<div class="card mt-3">
			<div class="card-body" id="searchResult">검색 결과가 여기에 나타납니다.</div>
		</div>
	</div>
</body>
</html>