<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>메인화면</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<style type="text/css">
input {
	border: none;
}

.navbar-fixed-left {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 220px;
	background-color: #333;
	padding: 10px;
}

.content_text {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.notification-count {
	display: inline-block;
	background-color: red; /* 빨간색 배경 */
	color: white; /* 흰색 텍스트 */
	font-weight: bold; /* 굵은 글씨 */
	border-radius: 0%; /* 모서리가 둥글지 않음 */
	padding: 0.5em; /* 모든 방향에 대해 동일한 패딩 */
	font-size: 0.75em; /* 폰트 크기 */
	vertical-align: top; /* 상단 정렬 */
	width: 2em; /* 너비 설정 */
	height: 2em; /* 높이 설정 */
	line-height: 1em; /* 텍스트 라인 높이를 요소의 높이와 맞춤 */
	text-align: center; /* 텍스트를 중앙 정렬 */
}

textarea.no-resize {
	resize: none;
}
</style>
<script>
	function showMoreContent(button) {
		// 버튼의 data-target 속성으로부터 대상 요소의 ID를 얻습니다.
		var contentId = button.getAttribute('data-target');
		// 해당 ID를 사용하여 내용 요소를 찾습니다.
		var contentElement = document.getElementById(contentId);
		// 내용 요소의 스타일을 변경하여 -webkit 관련 스타일을 제거합니다.
		contentElement.style.display = 'block';
		contentElement.style.webkitLineClamp = 'unset';
		contentElement.style.webkitBoxOrient = 'unset';
		// 더보기 버튼을 숨깁니다.
		button.style.display = 'none';
	}
</script>

</head>

<body>
	<main class="container-fluid">
		<div class="row">
			<nav class="col-2 bg-white sticky-top vh-100">
				<div th:insert="layout/nav.html :: nav"></div>
			</nav>

			<div class="justify-content-center col-9 container">
				<div th:if="${user != null}">
					<input type="hidden" th:value="${user.user_idx}" id="user_idx">
					<input type="hidden" th:value="${user.user_id}" id="user_id">
				</div>
				<div
					class="container-fluid d-flex justify-content-center align-items-center">
					<div class="row">
						<div class="col-md-8">
							<div th:each="item, iterStat : ${posts}" class="border mt-5"
								style="width: 470px; height: auto;">
								<div class="p-4">
									<!-- 첫 번째 내용 블록 -->
									<div class="d-flex justify-content-between mb-3">
										<p th:text="${item.post_name}"
											th:id="'post_name'+${item.post_idx}">
										<p class="text-end" th:text="${item.post_updated_date}">
									</div>
									<div class="">
										<div th:each="file : ${item.fileList}"
											class="d-flex justify-content-center">
											<img th:src="${file.file_Path}" alt="게시글 이미지"
												class="post-image mb-3" style="width: 280px; height: auto;">
										</div>
										<div th:id="'content' + ${iterStat.index}" class="mt-3 px-3">
											<p th:id="'content_text' + ${iterStat.index}"
												th:text="${item.post_contents}" class="content_text content"></p>
											<button
												class="toggleButton btn btn-link text-dark text-decoration-none"
												th:data-target="'content_text' + ${iterStat.index}"
												onclick="showMoreContent(this)">더보기</button>

										</div>

									</div>
									<div class="ms-3 my-1">
										<span class="fw-bold like_btn"
											th:attr="data-post-idx=${item.post_idx}, data-post-id=${item.post_id}">
											<svg class="w-6 h-6 text-gray-800 text-danger"
												aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
												width="24" height="24" fill="none" viewBox="0 0 24 24">
                      							<path stroke="currentColor"
													stroke-linecap="round" stroke-linejoin="round"
													stroke-width="2"
													d="M12.01 6.001C6.5 1 1 8 5.782 13.001L12.011 20l6.23-7C23 8 17.5 1 12.01 6.002Z" />
                    						</svg>
										</span> <input type="text" th:value="${item.post_likes}"
											th:id="'post_likes' + ${item.post_idx}">
									</div>
									<div class="mt-3"
										th:each="comment : ${item.commentList}"><div class="border px-3 py-2">
											<div class="d-flex justify-content-between">
												<p th:text="${comment.from_name}">
												<p th:text="${comment.commentTimeAgo}">
											</div>
											<p th:text="${comment.comment_content}">
										</div>
									</div>
									<div class="mt-3 row">
										<textarea
											class="form-control comment-box col border no-resize"
											th:attr="data-post-idx=${item.post_idx}"
											placeholder="댓글 달기..." style="border: none; height: 3rem"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<script src="/js/likeBtn.js">
		
	</script>
	<script src="/js/youtubeLink.js"></script>
	<script>
		$(document).ready(function() {
			$('.comment-box').keydown(function(e) {
				const button = $(this);
				const post_idx = button.data('post-idx');
				// 엔터키가 눌렸을 때
				if (e.keyCode == 13) {
					// Shift키가 함께 눌렸는지 확인
					if (!e.shiftKey) {

						// Shift키가 눌리지 않았다면 댓글 전송
						e.preventDefault(); // 기본 동작(줄바꿈) 방지
						var comment = $(this).val(); // 댓글 내용을 가져옴
						console.log(comment); // 댓글 내용 확인용(실제로는 댓글을 추가하는 로직을 구현)
						const commentData = {
							comment_content : comment,
							to_post_idx : post_idx
						}
						$.ajax({
							url : '/CommentInsert',
							type : 'POST',
							contentType : 'application/json', // 이 줄을 추가해야 합니다.
							data : JSON.stringify(commentData), // 객체를 JSON 문자열로 변환
							success : function(data) {

							},
							error : function(error) {
								console.error('Error:', error);
							}
						});
						$(this).val(''); // 텍스트 에어리어 초기화
					}
					// Shift키와 함께 눌렸다면, 기본 동작인 줄바꿈을 수행
				}
			});
		});
	</script>
</body>

</html>