<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<title>메인화면</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<main class="container-fluid">
		<div class="row">
			<nav class="col-1 bg-white sticky-top vh-100" id="main_nav">
				<div th:insert="~{layout/nav.html :: nav}"></div>
			</nav>
			<!-- 검색 입력창, 기본적으로 숨김 -->
			<div class="col">
				<div class="row">
					<div>
						<div id="searchBox" style="display: none;" th:fragment="searchBox"
							class="bg-body-tertiary sticky-top border col-3">
							<h4 class="mt-5">검색</h4>
							<div class="search-box">
								<input type="text" class="form-control search-input"
									placeholder="검색"> <img alt="검색 아이콘"
									src="/images/search.svg" class="search-icon"> <img
									alt="삭제 아이콘" src="/images/x-circle.svg" class="clear-icon">
							</div>
							<div class="mt-3"
								th:replace="~{layout/searchBox.html :: searchBox}"
								id="searchResult"></div>
						</div>

					</div>
					<div id="section" class="mt-4">
						<div th:replace="~{section/mainSection.html :: main}"></div>
					</div>
				</div>
			</div>

		</div>

	</main>
	<script src="/js/mainAjax.js"></script>
	<script src="/js/youtubeLink.js"></script>
	<script src="/js/comment.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>